<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
df = pd.read_csv('solar-net-generation.csv', skiprows=4)

df.head(10)

         Category  Series ID: EBA.US48-ALL.NG.SUN.H megawatthours
0  12/29/2020 05H                                              50
1  12/29/2020 04H                                              63
2  12/29/2020 03H                                              73
3  12/29/2020 02H                                              76
4  12/29/2020 01H                                             117
5  12/29/2020 00H                                            2010
6  12/28/2020 23H                                            6394
7  12/28/2020 22H                                           10656
8  12/28/2020 21H                                           13931
9  12/28/2020 20H                                           16057

In [13]:
df = df.rename(columns={'Category':'Timestamp', 'Series ID: EBA.US48-ALL.NG.SUN.H megawatthours': 'Megawatthours'})

In [14]:
df.head(10)

        Timestamp  Megawatthours
0  12/29/2020 05H             50
1  12/29/2020 04H             63
2  12/29/2020 03H             73
3  12/29/2020 02H             76
4  12/29/2020 01H            117
5  12/29/2020 00H           2010
6  12/28/2020 23H           6394
7  12/28/2020 22H          10656
8  12/28/2020 21H          13931
9  12/28/2020 20H          16057

In [17]:
df['Timestamp'] = pd.to_datetime(df['Timestamp'])